:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --external-color: #ffffff;
  --bg-color: #2f303a;
  --ex-bg-color: #f5f4fa;
  --transit-time: 250ms;
  --transit-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--external-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transit-time) var(--transit-time-func), visibility var(--transit-time) var(--transit-time-func);
  transition: opacity var(--transit-time) var(--transit-time-func), visibility var(--transit-time) var(--transit-time-func);
}

.modal {
  position: absolute;
  width: 90vw;
  min-height: 581px;
  padding: 40px;
  background-color: var(--external-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--transit-time) var(--transit-time-func);
  transition: -webkit-transform var(--transit-time) var(--transit-time-func);
  transition: transform var(--transit-time) var(--transit-time-func);
  transition: transform var(--transit-time) var(--transit-time-func), -webkit-transform var(--transit-time) var(--transit-time-func);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, 50%) scale(0.1);
          transform: translate(-50%, 50%) scale(0.1);
  top: 0;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--external-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal__icon-close {
  fill: black;
  -webkit-transition: fill var(--transit-time) var(--transit-time-func);
  transition: fill var(--transit-time) var(--transit-time-func);
}

.modal__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form__label {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.modal-form__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__label input,
.modal-form__label textarea {
  width: 100%;
  border-color: rgba(33, 33, 33, 0.2);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  -webkit-transition: border-color var(--transit-time) var(--transit-time-func);
  transition: border-color var(--transit-time) var(--transit-time-func);
}

.modal-form__input {
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
}

.modal-form__input:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  color: var(--title-color);
}

.modal-form__textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__textarea:not(:placeholder-shown) {
  border-color: var(--accent-color);
  color: var(--title-color);
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-color);
  -webkit-transition: fill var(--transit-time) var(--transit-time-func);
  transition: fill var(--transit-time) var(--transit-time-func);
}

.modal-form__input:focus-within + .modal-form__icon,
.modal-form__input:not(:placeholder-shown) + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form_label--other-margin {
  margin-bottom: 20px;
}

.policy-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.policy-checkbox__frame {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.policy-checkbox__icon {
  fill: transparent;
  -webkit-transition: fill var(--transit-time) var(--transit-time-func);
  transition: fill var(--transit-time) var(--transit-time-func);
}

.policy-checkbox__input:checked + .policy-checkbox__frame {
  border: none;
  background-color: var(--accent-color);
}

.policy-checkbox__input:checked + .policy-checkbox__frame .policy-checkbox__icon {
  border: none;
  fill: var(--external-color);
}

.policy-checkbox__link {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__btn {
  padding: 10px 55px 10px 56px;
  -webkit-transition: background-color var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func);
}

.modal-form__btn:hover, .modal-form__btn:focus {
  background: #188ce8;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 700;
  color: var(--accent-color);
}

.logo__black {
  color: #000000;
}

.logo__white {
  color: #ffffff;
}

.btn {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--external-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: background-color var(--transit-time) var(--transit-time-func), fill var(--transit-time) var(--transit-time-func), -webkit-box-shadow var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func), fill var(--transit-time) var(--transit-time-func), -webkit-box-shadow var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func), fill var(--transit-time) var(--transit-time-func), box-shadow var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func), fill var(--transit-time) var(--transit-time-func), box-shadow var(--transit-time) var(--transit-time-func), -webkit-box-shadow var(--transit-time) var(--transit-time-func);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--external-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--external-color);
  -webkit-transition: background-color var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func);
}

.social-list__link--footer:hover, .social-list__link--footer:focus {
  background-color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigate__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.navigate__item + .navigate__item {
  margin-left: 50px;
}

.navigate__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--title-color);
  -webkit-transition: color var(--transit-time) var(--transit-time-func);
  transition: color var(--transit-time) var(--transit-time-func);
}

.navigate__link:hover, .navigate__link:focus {
  color: var(--accent-color);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--main-text-color);
  -webkit-transition: color var(--transit-time) var(--transit-time-func);
  transition: color var(--transit-time) var(--transit-time-func);
}

.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;
}

.navigate__link--current {
  color: var(--accent-color);
  position: relative;
}

.navigate__link--current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -1px;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--bg-color);
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-mob@1-min.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-mob@1-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-mob@2-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-mob@2-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-tab@1-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tab@1-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-tab@2-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-tab@2-min.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-desc@1-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desc@1-min.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/header-desc@2-min.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/header-desc@2-min.jpg);
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--external-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 34px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: inline-block;
  padding: 10px 32px;
  -webkit-transition: background-color var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.feature {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.feature__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .feature__item {
    width: calc(100% / 4 - 30px);
  }
}

.feature__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--ex-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section--paddingtop0 {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .section--paddingtop0 {
    display: none;
  }
}

.section__title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__item + .product__item {
  margin-left: 30px;
}

.product__thumb {
  position: relative;
}

.product__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--external-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section--other-bg {
  background-color: var(--ex-bg-color);
}

.section__title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team__item {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__container {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__container {
    padding-bottom: 30px;
  }
}

.team__title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.section__title {
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.client {
  margin-bottom: -30px;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client__item {
  width: calc(100% / 2 - 30px);
  margin-bottom: 30px;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc(100% / 6 - 30px);
  }
}

.client__link {
  max-width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: color var(--transit-time) var(--transit-time-func), border-color var(--transit-time) var(--transit-time-func);
  transition: color var(--transit-time) var(--transit-time-func), border-color var(--transit-time) var(--transit-time-func);
}

.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__box-addr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.addr {
  margin-top: 20px;
}

.addr__item + .addr__item {
  margin-top: 9px;
}

.addr__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.addr__link--other-color {
  color: #ffffff;
  -webkit-transition: color var(--transit-time) var(--transit-time-func);
  transition: color var(--transit-time) var(--transit-time-func);
}

.addr__link:hover, .addr__link:focus {
  color: var(--main-text-color);
}

.footer__box-social {
  margin-left: 70px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--external-color);
  margin-bottom: 20px;
}

.footer__box-form {
  margin-left: 93px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-form__label {
  margin-right: 12px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color var(--transit-time) var(--transit-time-func);
  transition: border-color var(--transit-time) var(--transit-time-func);
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form__input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  color: var(--external-color);
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  -webkit-transition: background-color var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func);
}

.footer-form__btn:hover, .footer-form__btn:focus {
  background-color: #188ce8;
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--external-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -8px;
}

@media screen and (max-width: 767px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    margin-top: -15px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-top: 15px;
  }
}

.filter__btn {
  display: inline-block;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
  background-color: var(--ex-bg-color);
  color: var(--title-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  -webkit-transition: background-color var(--transit-time) var(--transit-time-func), color var(--transit-time) var(--transit-time-func), -webkit-box-shadow var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func), color var(--transit-time) var(--transit-time-func), -webkit-box-shadow var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func), color var(--transit-time) var(--transit-time-func), box-shadow var(--transit-time) var(--transit-time-func);
  transition: background-color var(--transit-time) var(--transit-time-func), color var(--transit-time) var(--transit-time-func), box-shadow var(--transit-time) var(--transit-time-func), -webkit-box-shadow var(--transit-time) var(--transit-time-func);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--external-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
  }
}

.project-list__item {
  margin-bottom: 30px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .project-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list__item {
    width: calc(100% / 3 - 30px);
  }
}

.project-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-transition: -webkit-box-shadow var(--transit-time) var(--transit-time-func);
  transition: -webkit-box-shadow var(--transit-time) var(--transit-time-func);
  transition: box-shadow var(--transit-time) var(--transit-time-func);
  transition: box-shadow var(--transit-time) var(--transit-time-func), -webkit-box-shadow var(--transit-time) var(--transit-time-func);
}

.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
}

.project-list__img-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--external-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transit-time) var(--transit-time-func);
  transition: -webkit-transform var(--transit-time) var(--transit-time-func);
  transition: transform var(--transit-time) var(--transit-time-func);
  transition: transform var(--transit-time) var(--transit-time-func), -webkit-transform var(--transit-time) var(--transit-time-func);
}

.project-list__link:hover .project-list__img-txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-list__link:focus .project-list__img-txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 786px) {
  .project-list__img-txt {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200pxpx) {
  .project-list__img-txt {
    padding: 63px 24px;
  }
}

.project-list__cont {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-list__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */