.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  @include fontstyles(24px, 1.17, 0.03em, 400);
  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    @include fontstyles(26px, 1.19, null, 700);
  }
}

.logo__black {
  color: var(--title-color);
  @media screen and (min-width: 1200px) {
    color: #000000;
  }
}

.logo__white {
  color: #ffffff;
}
