.mobmenu__btn-open {
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobmenu__btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
}

.mobmenu {
  position: fixed;
  background-color: var(--external-color);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 25px;
}

.container--mob-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobmenu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobmenu__link {
  @include fontstyles(40px, 1.17, 0.02em, 500);
  color: var(--title-color);

  transition: color var(--transit-time) var(--transit-time-func);

  &:hover,
  &:focus,
  &--current {
    color: var(--accent-color);

    }
  }
// .mobmenu-footer {
//   position: absolute;
//   bottom: 48px;
// }

.mobmenu-footer__tel {
  display: block;
  margin-bottom: 32px;
  @include fontstyles(34px, 1.18, 0.02em, 500);
  color: var(--accent-color);
}

.mobmenu-footer__mail {
  display: block;
  @include fontstyles(24px, 1.17, 0.02em, 500);
  color: var(--main-text-color);
  margin-bottom: 64px;
}

.mobmenu-footer__list {
  display: flex;
}

.mobmenu-footer__link {
  @include fontstyles(18px, 1.22, 0.02em, 500);
  color: var(--accent-color);
}
