:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --title-color: #212121;
  --external-color: #ffffff;
  --bg-color: #2f303a;
  --ex-bg-color: #f5f4fa;
  --transit-time: 250ms;
  --transit-time-func: cubic-bezier(0.4, 0, 0.2, 1);
}
