.section__title {
  @include fontstyles(28px, 1.18, 0.03em, null);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include fontstyles(36px, 1.17, 0.03em, null);
    margin-bottom: 50px;
  }
}

.client {
  margin-bottom: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.client__item {
  width: calc(100% / 2 - 30px);
  margin-bottom: 30px;
  margin-left: 30px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
  }
}

.client__link {
  max-width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--transit-time) var(--transit-time-func),
    border-color var(--transit-time) var(--transit-time-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.client__icon {
  fill: currentColor;
}
