.footer {
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.container--flex {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.footer__box-addr {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    margin-right: 70px;
  }
}

.logo--mbfooter {
  margin-bottom: 20px;
}

.addr__item + .addr__item {
  margin-bottom: 8px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.addr__link {
  font-style: normal;
  @include fontstyles(14px, 1.71, 0.03em, null);
  color: rgba(255, 255, 255, 0.6);

  &--other-color {
    color: #ffffff;
    transition: color var(--transit-time) var(--transit-time-func);
  }

  &:hover,
  &:focus {
    color: var(--main-text-color);
  }
}

.footer__box-social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer__title {
  @include fontstyles(14px, 1.14, 0.03em, 700);
  text-transform: uppercase;
  color: var(--external-color);

  margin-bottom: 20px;
}

.footer__box-form {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.footer-form__label {
  @media screen and (min-width: 1200px) {
    margin-right: 12px;
  }
}

.footer-form__input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  @include fontstyles(16px, 1.25, 0.03em, null);
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color var(--transit-time) var(--transit-time-func);

  &::placeholder {
    @include fontstyles(16px, 1.25, 0.03em, null);
    color: rgba(255, 255, 255, 0.6);
  }

  &:focus-within {
    outline: none;
    border-color: var(--accent-color);
  }

  &:not(:placeholder-shown) {
    border-color: var(--accent-color);
    color: var(--external-color);
  }

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-form__btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  transition: background-color var(--transit-time) var(--transit-time-func);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--external-color);
}
