.header {
  border-bottom: 1px solid #ececec;

}
  .container--flex {
  display: flex;
   align-items: center;
   @media screen and (max-width: 767px) { 
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
   } 
   }

.navigate {
  @media screen and (max-width: 767px) {
    display: none;
  }
  
}

.navigate__list {
  display: flex;
  align-items: center;
  margin-left: 88px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.navigate__item + .navigate__item {
  margin-left: 50px;
}

.navigate__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  @include fontstyles(14px, 1.14, 0.02em, 500);
  color: var(--title-color);

  transition: color var(--transit-time) var(--transit-time-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact {
  @media screen and (max-width: 767px) {
    display: none;
  }
    display: block;
    margin-left: auto;
  @media screen and(min-width: 1200px) {
    display: flex;
  }
}

.contact__item + .contact__item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;

  @include fontstyles(12px, 1.17, 0.02em, 500);

  color: var(--main-text-color);
  transition: color var(--transit-time) var(--transit-time-func);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    @include fontstyles(14px, 1.14, null, null);
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon-mail {
  margin-right: 8px;
  width: 14px;
  height: 10px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
}

.contact__icon-tel {
  margin-right: 8px;
  width: 10px;
  height: 14px;
  fill: currentColor;
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 10x;
    height: 16px;
  }
}

.navigate__link--current {
  color: var(--accent-color);
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: var(--accent-color);
    left: 0;
    bottom: -1px;
  }
}
