.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--bg-color);
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/header-mob@1-min.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-mob@2-min.jpg);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-tab@1-min.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header-tab@2-min.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/header-desc@1-min.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/header-desc@2-min.jpg);
    }
  }
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  @include fontstyles(26px, 1.62, 0.06em, 900);
  text-transform: uppercase;
  color: var(--external-color);

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    @include fontstyles(34px, 1.36, null, null);
  }
}

.hero__btn {
  display: inline-block;
  padding: 10px 32px;
  transition: background-color var(--transit-time) var(--transit-time-func);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
