.project-list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.project-list__item {
  margin-bottom: 30px;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
  }
}

.project-list__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow var(--transit-time) var(--transit-time-func);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project-list__thumb {
  position: relative;
  overflow: hidden;
}

.project-list__img-txt {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  @include fontstyles(18px, 1.56, 0.03em, null);
  color: var(--external-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transit-time) var(--transit-time-func);

  .project-list__link:hover & {
    transform: translateY(0);
  }

  .project-list__link:focus & {
    transform: translateY(0);
  }
}

.project-list__cont {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-list__title {
  @include fontstyles(18px, 2, 0.06em, null);
  margin-bottom: 4px;
}

.project-list__text {
  @include fontstyles(16px, 1.87, 0.03em, null);
}
